* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/assets/images/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.addButton {
  width: 90%;
  padding: 1vw;
}
.btn {
  margin: 10px 0px;
}
.itemInputDiv {
  display: none;
}
.checkListContainer {
  overflow: scroll;
  max-height: 20vw;
}
.buttonsOfCheckList,
.buttonsOfCheckItems {
  display: flex;
  margin-bottom: 2vw;
}
.checkListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkbox + p {
  margin: 0px;
}
.checkbox:checked + p {
  text-decoration: line-through;
}